.schedule-row {
    display:flex;
    justify-content: space-between;
    height: 65px;
}

.schedule-input-toggle{
    display:flex;
    align-items:center;
    justify-content: center;
}

.schedule-date-label {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
}

.schedule-label-dow {
    font-size:24px;
}


.schedule-label-day {
    font-size: 34px;;
}

.schedule-value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 176px;
    font-size: 20px;
}

.schedule-value-not-off {
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 24px;
}

.schedule-value-off {
    font-size: 25px;
    display:flex;
    width: 77%;
    justify-content: center;
    padding-right: 24px;
}

.schedule-time-inputs {
    display:flex;
    justify-content: space-between;
}

.schedule-input-group {
    overflow:hidden;
    width: calc(152px - 50px);
    /* font-size: 40px; */
}

.schedule-off-toggle {
    height:100%;
    width:74px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.schedule-save-container{
    padding-top: 20px;
    display: flex;
    justify-content: space-between
}

.schedule-value-time-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.schedule-value-type {
    color: rgb(194, 194, 194);
    width: 50px;

}

.schedule-reason-input {
    height: 50%;
    margin-bottom: -8px;
}

@media only screen and (max-width: 370px) {
    .schedule-value-not-off {
        padding-right: 0px;
    }
}

@media only screen and (min-width: 530px) {
    .schedule-value-time-container {
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    .schedule-label-dow {
        font-size: 30px !important;
    }

    .schedule-value-time-container-start::after {
        content: ' - '
    }

    .schedule-date-label {
        flex-direction: row;
    }

    .schedule-value {
        width: 280px;
    }

    .schedule-value-not-off {
        padding: 0;
        width: 100%;
    }
}
