.pattern-modify-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pattern-name-header {
    font-size: 30px;
    width: 90vw;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width:100%;
}

.pattern-sub-container {
    display:flex;
    justify-content: center;
}

.pattern-save-container{
    padding-top: 20px;
}

