.pattern-modify-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pattern-name-header {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin: 17px 0; */
    /* width: 90vw;  */

}

.pattern-sub-container {
    display:flex;
    justify-content: center;
}



