.city-state-group {
    display:flex;
    justify-content: center;
    align-items:flex-end;
}

.profile-complete-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.profile-complete-btn-container{
    display: flex;
    justify-content: space-between;
    width: 79vw;
}

.profile-complete-header {
    color: rgba(0, 0, 0, 0.54);
    text-align:center;
}

.profile-complete-header > h1 {
    font-size: 32px;
    margin-bottom:20px;
    /* color: rgba(0, 0, 0, 0.54); */
    font-weight: 500;
}

.profile-complete-header > h2 {
    margin-bottom:20px;
    font-size: 21px;
    font-weight: 500;
}
.profile-form-container {
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.toggle-container {
    width: 62vw;
}
