.not-auth-container {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    height:100%;
    padding:20px 10px;
}

.not-auth-container > h1 {
    font-size: 39px;
    line-height: 51px;
}

.not-auth-container > h2 {
    font-size: 21px;
    line-height: 28px;
}

.not-auth-page-container {
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    width: 100vw;
    background-color:#2196F3;
}

.not-auth-paper {
    height: 55vh;
    width: 100vw;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}

@media only screen and (min-width: 635px) {
    .not-auth-paper {
        width:600px;
    }

}