/* .emp-req-to-toggle-group {
    display: flex
} */

.emp-rto-range-group {
    display:flex;
    justify-content: space-between;
}

.emp-rto-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 81px;
}

.emp-rto-btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}

.emp-rto-content-container {
    width: 90vw;
}

.employee-request-to-paper {
    margin: 8px;
    width: 100%;
    padding: 20px;
    position: relative;
}

@media only screen and (min-width: 560px) {
    .emp-rto-content-container {
        width: 530px;
    }
}

