/* .emp-req-to-toggle-group {
    display: flex
} */

.emp-rto-range-group {
    display:flex;
    justify-content: space-between;
}

.emp-rto-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 81px;
}

.emp-rto-btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}

