.prof-form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.prof-form-row {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.prof-form-col {
    display: flex;
    flex-direction: column;
    width:50%
}

.prof-form-avatar {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15px;
    width:61%;
    
}

.prof-form-name-col {
    display: flex;
    flex-direction: column;
    width:61%
}

.prof-edit-btn-container{
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin-left: 20px
}

.prof-edit-reset-back-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-error-item {
    margin-bottom:10px;
}

.prof-form-toggle{
    height: 36px;
    margin: 14px 0;
    display: flex;
    align-items: center;
}