.profile-name-header {
    font-size: 30px;
    width: 90vw;
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
}

.row {
    display: flex;
    font-size: 1.2em;
    margin-top: 10px;
}

.row > h2 {
    width: 72px;

}

.address > h2 {
    width: 72px
}

.skd-row {
    display: flex;
    width: 784px;
    height: 110px;
}

.skd-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 150px;
    padding: 0 8px;
    margin: 0 2px;
    box-shadow: 0 2px 4px 0 rgba(231, 231, 231, 0.2), 0 1px 3px 0 rgba(155, 155, 155, 0.2);
    background: #0091EA;
    color: white;
    border-radius: 5px;
    /* box-shadow: inset 0 0 19px #0019ff; */
}

.skd-cell-head {
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.skd-container {
    width: 89vw;
    overflow-x: auto;
    white-space: nowrap;
    height: 130px;
    text-align: center;
    font-size: 1.2em;
    margin: 0px -19px;
}

.skd-cell-row {
    width:100%;
}

.skd-title {
    margin-top: 16px;
    margin-bottom: 6px;
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
}

.dy {
    font-size: 0.9em;
}

.dt {
    font-size:1.3em
}

.skd-single {
    font-size: 1.6em;
    height: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-edit-button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height:67px;
}