.employee-schedule-container {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding-top:81px;
}

.cycle-btn {
    transform: scale(2);
}

.employee-schedule-paper {
    margin: 8px; 
    width: 90vw; 
    padding: 20px;
    position: relative;
}

@media only screen and (min-width: 680px) {
    .employee-schedule-paper {  
        width: 670px;
    }
}