.employee-add-container {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 81px 0;
}

.add-form-container {
    padding: 30px;
}


.add-form-row {
    display: flex;
    justify-content: space-between;
}


.add-btn-container {
    width: 265px;
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
}

.add-employee-error-item {
    margin: 10px 0;
}

@media only screen and (min-width: 815px) {
    .employee-add-container {
        width: 900px;
        margin: 0 auto;
    }
}
