.emp-control-name-header {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    position:relative;
    z-index: -2;
    top: 40px;
}

.emp-control-tabs {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.emp-control-avatar {
    width: 100px;
    height:100px;
}

.emp-control-name {
    width:60%;
    text-align: center;
}

.emp-control-container {
    padding-top:62px;
}

.emp-control-swipers {
    position: relative;
    z-index:-2;
    top: 38px;
}

.emp-control-close-btn {
    position:'absolute';
    top: 115px;
    right: 0px;
    z-index: 0;
}


